In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("Motor_Vehicle_Collisions_-_Crashes.pkl")
df.head()

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['CRASH DATE_CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [4]:
df['CRASH DATE_CRASH TIME'].min()

Timestamp('2012-07-01 00:05:00')

In [5]:
df['CRASH DATE_CRASH TIME'].max()

Timestamp('2023-08-15 23:59:00')

In [6]:
#1
df['BOROUGH'].value_counts()

BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: BOROUGH, dtype: int64

In [7]:
#
# Bronx - 1446788
# Brooklyn - 2648452
# Manhattan - 1638281
# Queens - 2330295
# Staten lsland - 487155
#2
pop_df = pd.DataFrame({"pop":[ 1446788,2648452,1638281,2330295,487155]} ,index = ['BRONX','BROOKLYN','MANHATTAN','QUEENS','STATEN ISLAND'] )
pop_df

                   pop
BRONX          1446788
BROOKLYN       2648452
MANHATTAN      1638281
QUEENS         2330295
STATEN ISLAND   487155

In [8]:

crash_rate_series = df['BOROUGH'].value_counts()  / pop_df['pop'] * 100000
crash_rate_series.sort_values()

STATEN ISLAND    11966.827806
BRONX            14193.164444
QUEENS           15983.255339
BROOKLYN         16652.217975
MANHATTAN        19121.628097
dtype: float64

In [9]:
#3
factor1_df =df[df['CONTRIBUTING FACTOR VEHICLE 1'] !='Unspecified']
factor1_df.head()

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
6,2021-12-14 17:05:00,NaN,NaN,40.709183,-73.956825,"(40.709183, -73.956825)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4486555,Sedan,Tractor Truck Diesel,NaN,NaN,NaN

In [10]:
factor1_df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(normalize=True)

Driver Inattention/Distraction                           0.304180
Failure to Yield Right-of-Way                            0.090335
Following Too Closely                                    0.081466
Backing Unsafely                                         0.056886
Other Vehicular                                          0.047521
Passing or Lane Usage Improper                           0.042031
Turning Improperly                                       0.037833
Passing Too Closely                                      0.037788
Fatigued/Drowsy                                          0.035889
Unsafe Lane Changing                                     0.030103
Traffic Control Disregarded                              0.026691
Driver Inexperience                                      0.023707
Unsafe Speed                                             0.020403
Alcohol Involvement                                      0.016416
Lost Consciousness                                       0.015445
Reaction to Uninvolved Vehicle                           0.014784
Pavement Slippery                                        0.014606
Prescription Medication                                  0.011679
View Obstructed/Limited                                  0.010018
Outside Car Distraction                                  0.009595
Oversized Vehicle                                        0.009364
Physical Disability                                      0.007082
Aggressive Driving/Road Rage                             0.007022
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion    0.006910
Passenger Distraction                                    0.006008
Brakes Defective                                         0.005110
Fell Asleep                                              0.004138
Obstruction/Debris                                       0.003141
Glare                                                    0.003049
Failure to Keep Right                                    0.002455
Steering Failure                                         0.002116
Tire Failure/Inadequate                                  0.001860
Pavement Defective                                       0.001820
Other Electronic Device                                  0.001767
Illness                                                  0.001636
Illnes                                                   0.001201
Animals Action                                           0.001151
Reaction to Other Uninvolved Vehicle                     0.001014
Driverless/Runaway Vehicle                               0.000916
Accelerator Defective                                    0.000804
Lane Marking Improper/Inadequate                         0.000735
Traffic Control Device Improper/Non-Working              0.000642
Drugs (illegal)                                          0.000635
Cell Phone (hand-Held)                                   0.000381
Drugs (Illegal)                                          0.000318
Cell Phone (hands-free)                                  0.000204
Tow Hitch Defective                                      0.000161
Other Lighting Defects                                   0.000139
Tinted Windows                                           0.000123
Using On Board Navigation Device                         0.000112
Vehicle Vandalism                                        0.000099
Headlights Defective                                     0.000099
Eating or Drinking                                       0.000088
80                                                       0.000077
Shoulders Defective/Improper                             0.000067
Cell Phone (hand-held)                                   0.000060
Windshield Inadequate                                    0.000058
Texting                                                  0.000038
Listening/Using Headphones                               0.000018
1                                                        0.000008
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: float64

In [11]:
#4
factor1_df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(normalize=True).head(3).sum()

0.47598056643578757

In [12]:
#5

In [13]:
len(df[df['NUMBER OF PERSONS KILLED'] >=1])

2804

In [14]:
#6 
len(df[df['NUMBER OF PERSONS KILLED'] >=1]) / len(df) * 1000

1.3893258747079764

In [15]:
#7
len(df[df['BOROUGH'].isnull()]) / len(df)

0.3110890897784957

In [16]:
#8
car_df = df[ (~df['VEHICLE TYPE CODE 1'].isnull()) & (~df['VEHICLE TYPE CODE 2'].isnull()) ]
car_df.groupby(by= ['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size().sort_values()

VEHICLE TYPE CODE 1                  VEHICLE TYPE CODE 2
.                                    Sedan                                       1
Sedan                                UPS Van                                     1
                                     UPS Truck                                   1
                                     UPS TRUCK                                   1
                                     UNNKO                                       1
                                                                             ...
Station Wagon/Sport Utility Vehicle  Sedan                                  123812
Sedan                                Station Wagon/Sport Utility Vehicle    123915
Station Wagon/Sport Utility Vehicle  Station Wagon/Sport Utility Vehicle    133780
PASSENGER VEHICLE                    PASSENGER VEHICLE                      193260
Sedan                                Sedan                                  197944
Length: 6896, dtype: int64

In [17]:
#df.groupby(by= ['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2']).size().reset_index()